* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.navbar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.348);
}

.body {
  background-image: url("../img/shellfish-3062011_1920.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.paquetes {
  background-image: url("../img/paquetes.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.aereos {
  background-image: url("../img/aereos.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.hotel {
  background-image: url("../img/alojamiento.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacto {
  background-image: url("../img/fondocontactos.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.quienessomos {
  background-image: url("../img/oficina.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.search {
  background-color: rgba(250, 235, 215, 0.33);
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  text-align: center;
}

.navbar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.348);
}

.form1 {
  background-color: rgba(250, 235, 215, 0.19);
  border-radius: 20px;
  padding: 5px;
  margin: 50px;
}

.titulo {
  font-size: 50px;
  background-color: rgba(250, 235, 215, 0.33);
  border-radius: 10px;
  margin: 40px;
  padding: 10px;
  text-align: center;
}

.titulo2 {
  text-align: center;
  font-size: 30px;
  background-color: rgba(250, 235, 215, 0.33);
  border-radius: 10px;
  margin: auto;
  padding: 10px;
}

.historia p {
  background-color: rgba(250, 235, 215, 0.07);
  border-radius: 10px;
  font-weight: bold;
}

.text {
  margin: 20px;
  padding: 20px;
  background-color: rgba(250, 235, 215, 0.196);
  text-align: left;
  overflow: hidden;
  border-radius: 10px;
}

/*tarjeta viajes*/
.tarjeta {
  margin: 30px;
  width: 250px;
  background-color: rgba(250, 235, 215, 0.538);
  padding: 15px;
  margin-inline: 30px;
  border: 3px solid black;
  display: inline-block;
  border-radius: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.tarjeta:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.tarjeta__img {
  border: 2px solid;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.tarjeta__titulo {
  margin: auto;
  color: rgb(20, 13, 148);
  font-size: 30px;
  text-align: center;
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
}

.tarjeta__texto {
  color: rgba(26, 56, 131, 0.936);
  text-align: center;
  font-family: url("./../assets/font/Signika-VariableFont_wght.ttf");
  font-size: 1rem;
}

.tarjeta__precio {
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.473);
  text-align: center;
  color: rgb(18, 55, 124);
  display: block;
  padding: 5px 0;
  font-size: 1.5rem;
}

.tarjeta__boton {
  margin: 5px;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
  background-color: rgba(247, 248, 248, 0.589);
  color: black;
  box-shadow: 5px, 5px, 10px, rgb(12, 67, 143);
}

.tarjeta__boton:hover {
  margin: 5px;
  display: block;
  border: 2px solid rgb(63, 43, 187);
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
  background-color: rgba(8, 56, 58, 0.749);
  color: rgb(247, 244, 244);
}

.footer1 {
  background: rgb(75, 146, 173);
  background: linear-gradient(90deg, rgb(75, 146, 173) 0%, rgba(0, 224, 255, 0.1379902303) 38%);
  border-radius: 0 100px 0 0;
}

/*banner*/
.banner {
  margin: 30px;
  padding: 50px;
  background-image: url(../img/hotsale.jpg);
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.banner1 {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: linear-gradient(-45deg, #df9eb8, rgb(153, 109, 194), #2b0413, violet, red);
  background-size: 400%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 4vw;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 6s ease-in-out infinite;
  -moz-animation: animated_text 6s ease-in-out infinite;
  -webkit-animation: animated_text 6s ease-in-out infinite;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
/*formulario aerolinea*/
#form {
  background-color: #000;
  height: 550px;
  width: 700px;
  margin: auto;
  padding: 20px;
  opacity: 0.7;
  border-radius: 20px;
}

#form h3 {
  border-bottom: 2px solid #3399ff;
  width: 210px;
  padding: 5px;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

#input #input-group {
  width: 300px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

#input2 #input-group {
  width: 195px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

#input3 #input-group {
  margin-left: 50px;
}

#input4 #input-group {
  width: 300px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

#input4 #input-group1 {
  width: 615px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

#input5 h3 {
  border-bottom: 2px solid #3399ff;
  width: 220px;
  padding: 5px;
}

#input6 #input-group {
  width: 300px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

#input6 #input-group1 {
  width: 615px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

/*formulario hotel y alojamientos*/
#form {
  background-color: #000;
  height: 500px;
  width: 900px;
  margin: auto;
  margin-top: 100px;
  opacity: 0.7;
}

#first-group {
  border: none;
  width: 400px;
  margin-top: 38px;
  position: absolute;
}

#content {
  border: 1px solid #fff;
  margin: 10px;
  margin-left: 8px;
  padding: 5px;
}

#content #input-group {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 8px;
  width: 300px;
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

.fa {
  display: inline-block;
  color: red;
  border-right: 1px solid #fff;
  padding: 8px;
  margin-left: 8px;
}

#second-group {
  border: none;
  width: 400px;
  margin-top: 55px;
  margin-left: 400px;
}

#submit-btn {
  margin-top: 30px;
  margin-left: 600px;
  background: transparent;
  color: #fff;
  width: 150px;
  border: 1px solid red;
  outline: none;
  padding: 10px;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */