$coloruno: rgb(233, 235, 240);
$colordos: rgba(69, 144, 146, 0.641);
$colortres: rgb(59, 70, 224);
$colorcuatro: rgba(132, 166, 187, 0.518);
$colorcinco: rgba(250, 235, 215, 0.549);
$colornegro: black;
$colorseis: rgb(240, 213, 121);



$fontnunito: 'Nunito Sans', sans-serif;
$fontubuntu: 'Ubuntu', sans-serif;
$fontroboto: 'Roboto Slab', serif;
$fontcaveatinclinada: 'Caveat', cursive;


$grid-breakpoints: (
  xs: 375px,
  xl: 1200px,
);
