@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Signika:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.titulo {
  color: rgba(69, 144, 146, 0.641);
  font-size: 50px;
  background-color: rgba(250, 235, 215, 0.725);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.titulo2 {
  color: rgba(69, 144, 146, 0.641);
  text-align: center;
  font-size: 50px;
  background-color: rgba(250, 235, 215, 0.784);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  font-family: "Nunito Sans", sans-serif;
}

.titulo3 {
  background-color: rgba(250, 235, 215, 0.07);
  border-radius: 10px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.text {
  color: rgb(233, 235, 240);
  font-size: 2rem;
  margin: 20px;
  padding: 20px;
  background-color: rgba(35, 66, 88, 0.792);
  text-align: justify;
  overflow: hidden;
  border-radius: 10px;
}

.h1form {
  text-align: center;
  color: rgb(233, 235, 240);
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
}

.mv {
  margin: 20px;
  background-color: rgba(132, 166, 187, 0.518);
  text-align: center;
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
}

.navbar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.348);
}

.search {
  background-color: rgba(250, 235, 215, 0.33);
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  text-align: center;
}

/*banner*/
.banner {
  margin: 30px;
  padding: 50px;
  background-image: url("../../imga/hotsale.jpg");
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.banner:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  background-color: rgba(69, 144, 146, 0.641);
  color: black;
}
@media screen and (max-width: 480px) {
  .banner {
    margin: 20px;
    max-width: 480px;
  }
}

.banner1 {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: linear-gradient(-45deg, #df9eb8, rgb(153, 109, 194), #2b0413, violet, red);
  background-size: 400%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 4vw;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 6s ease-in-out infinite;
  -moz-animation: animated_text 6s ease-in-out infinite;
  -webkit-animation: animated_text 6s ease-in-out infinite;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
.footer1 {
  background: rgb(75, 146, 173);
  background: linear-gradient(90deg, rgb(75, 146, 173) 0%, rgba(0, 224, 255, 0.1379902303) 38%);
  border-radius: 0 100px 0 0;
}
@media screen and (max-width: 480px) {
  .footer1 {
    flex-direction: column;
  }
}

.footer2 {
  background-color: rgba(250, 235, 215, 0.549);
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
}
.footer2 .container {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
@media screen and (max-width: 480px) {
  .footer2 .container {
    display: block;
    flex-direction: column;
  }
}
.footer2 .footer-ul .h3 {
  text-decoration: underline;
}
.footer2 .footer-li {
  color: rgb(59, 70, 224);
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
}

/*formulario aerolinea*/
.form1 {
  background-color: black;
  height: 650px;
  width: 700px;
  margin: 20px;
  padding: 20px;
  opacity: 0.7;
  border-radius: 20px;
  display: block;
}
.form1 h3 {
  font-family: "Roboto Slab", serif;
  color: rgb(233, 235, 240);
  text-align: center;
  border: 2px solid rgba(250, 235, 215, 0.549);
  border-radius: 5px;
  width: 310px;
  padding: 10px;
  margin: 20px;
}
.form1::-moz-placeholder {
  color: #fff;
}
.form1:-ms-input-placeholder {
  color: #fff;
}
.form1::placeholder {
  color: #fff;
}

.input #input-group {
  width: 300px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.input2 #input-group {
  width: 195px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.input3 #input-group {
  margin-left: 50px;
}

.input4 #input-group {
  width: 300px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.input4 #input-group1 {
  width: 615px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.input5 h3 {
  font-family: "Roboto Slab", serif;
  color: rgb(233, 235, 240);
  text-align: center;
  border: 2px solid rgba(250, 235, 215, 0.549);
  border-radius: 5px;
  width: 310px;
  padding: 10px;
  margin: 20px;
}

.input6 #input-group {
  width: 300px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.input6 #input-group1 {
  width: 615px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: transparent;
  color: #fff;
}

/*formulario hotel y alojamientos*/
.form2 {
  background-color: rgb(9, 9, 9);
  height: 500px;
  width: 800px;
  margin: auto;
  margin-top: 100px;
  opacity: 0.7;
  border-radius: 10px;
  display: block;
}

.first-group {
  border: none;
  width: 400px;
  margin-top: 38px;
  position: absolute;
}

.content {
  border: 1px solid #fff;
  margin: 10px;
  margin-left: 8px;
  padding: 5px;
}

.content #input-group {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 8px;
  width: 300px;
  color: #fff;
}
.content #input-group::-moz-placeholder {
  color: #fff;
}
.content #input-group:-ms-input-placeholder {
  color: #fff;
}
.content #input-group::placeholder {
  color: #fff;
}

.second-group {
  border: none;
  width: 400px;
  margin-top: 55px;
  margin-left: 400px;
}

#submit-btn {
  margin-top: 30px;
  margin-left: 600px;
  background: transparent;
  color: #fff;
  width: 150px;
  border: 1px solid red;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-size: 20px;
}
#submit-btn:hover {
  background: rgb(233, 235, 240);
  color: rgb(59, 70, 224);
}

@media screen and (max-width: 480px) {
  .container-fluid {
    flex-direction: column;
  }
}
/*tarjeta viajes*/
.tarjeta {
  margin: 30px;
  width: 250px;
  background-color: rgba(250, 235, 215, 0.538);
  padding: 15px;
  margin-inline: 30px;
  border: 3px solid black;
  display: inline-block;
  border-radius: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
@media screen and (max-width: 480px) {
  .tarjeta {
    flex-direction: column;
  }
}
.tarjeta .tarjeta__img {
  border: 2px solid;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
.tarjeta:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.tarjeta__titulo {
  margin: auto;
  color: rgb(20, 13, 148);
  font-size: 30px;
  text-align: center;
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
}

.tarjeta__texto {
  color: rgba(26, 56, 131, 0.936);
  text-align: center;
  font-family: url("./../assets/font/Signika-VariableFont_wght.ttf");
  font-size: 1rem;
}

.tarjeta__precio {
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.473);
  text-align: center;
  color: rgb(18, 55, 124);
  display: block;
  padding: 5px 0;
  font-size: 1.5rem;
}

.tarjeta__boton {
  margin: 5px;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
  background-color: rgba(247, 248, 248, 0.589);
  color: black;
  box-shadow: 5px, 5px, 10px, rgb(12, 67, 143);
}

.tarjeta__boton:hover {
  margin: 5px;
  display: block;
  border: 2px solid rgb(63, 43, 187);
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
  background-color: rgba(8, 56, 58, 0.749);
  color: rgb(247, 244, 244);
}

.body {
  background-image: url("../imga/shellfish-3062011_1920.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid {
  padding: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item1 item2" "item1 item3";
  gap: 2rem;
  padding: 2rem;
}
.grid .grid_item {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}
.grid h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  color: rgb(233, 235, 240);
  text-align: left;
  padding-left: 20px;
}
.grid h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: rgb(233, 235, 240);
  padding-left: 20px;
}
.grid .grid_item1 {
  grid-area: item1;
  background-image: url("../../imga/imgarg/bsas1.jpg");
  height: 400px;
}
.grid .grid_item2 {
  grid-area: item2;
  background-image: url("../../imga/Verona.jpg");
}
.grid .grid_item3 {
  grid-area: item3;
  background-image: url("../../imga/crucero2.jpg");
}
.grid:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  border-radius: 30px;
}
.grid .grid_btn {
  margin-left: 20px;
  padding: 5px;
  border: 2px solid;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(132, 166, 187, 0.518);
  color: rgb(233, 235, 240);
}
.grid .grid_btn:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  background-color: rgba(69, 144, 146, 0.641);
  color: black;
}

@media screen and (max-width: 480px) {
  .grid {
    display: flex;
    flex-direction: column;
    font-size: small;
    background-image: contain;
    padding: 20px;
  }
  .grid .grid_item {
    height: 300px;
  }
}

.aereos {
  background-image: url("../../imga/aereos.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.hotel {
  background-image: url("../../imga/alojamiento.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacto {
  background-image: url("../../imga/fondocontactos.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.formt {
  color: rgb(233, 235, 240);
  margin: 20px;
}

.cruceros {
  background-image: url("../../imga/crucero.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.paquetes {
  background-image: url("../../imga/paquetes.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.quienessomos {
  background-image: url("../../imga/oficina.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.mision {
  margin: 20px;
  display: flex;
  padding: 20px;
  box-shadow: 15px 15px 30px black;
  border-radius: 10px;
  background-color: rgba(132, 166, 187, 0.518);
}
.mision img {
  padding: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.mision p {
  margin: 30px;
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  text-align: left;
  height: 400px;
  color: black;
}/*# sourceMappingURL=main.css.map */