.contacto {
    background-image: url("../../imga/fondocontactos.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.formt {
    color: $coloruno;
    margin: 20px;

}

.contact {
    @include mobile {
        display: flex;
        flex-direction: column;
    }
}