.footer1 {
    
    background: rgb(75, 146, 173);
    background: linear-gradient(90deg, rgb(75, 146, 173) 0%, rgba(0, 224, 255, 0.1379902303) 38%);
    border-radius: 0 100px 0 0;

    @include mobile {
        flex-direction: column;
    }

    @include footer1 {
        grid-row-start: initial;
        justify-content: center;
        align-items: center;
        display: block;
    }
}

