.footer1 {

    background: rgb(75, 146, 173);
    background: linear-gradient(90deg, rgb(75, 146, 173) 0%, rgba(0, 224, 255, 0.1379902303) 38%);
    border-radius: 0 100px 0 0;

    @include mobile {
        flex-direction: column;
    }

}


    .footer2 {
        background-color: $colorcinco ;
        margin: 30px;
        padding: 20px;
        border-radius: 10px;


        .container {
            display: flex;

            margin: 0;
            padding: 0;
            justify-content: space-around;

            @include mobile {
                display: block;
            }


        }

        .footer-ul {
            .h3 {
                text-decoration: underline;

            }



        }

        .footer-li {
            color: $colortres;
            font-size: 1.2rem;
            font-family: $fontroboto;

        }





    }
