.navbar {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.348);
}

.search {
    background-color: rgba(250, 235, 215, 0.33);
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    text-align: center;
}