@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Signika:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


.titulo {
    color: $colordos;
    font-size: 50px;
    background-color: rgba(250, 235, 215, 0.725);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.titulo2 {
    color: $colordos;
    text-align: center;
    font-size: 50px;
    background-color: rgba(250, 235, 215, 0.784);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.titulo3 {
    background-color: rgba(250, 235, 215, 0.07);
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.text {
    color: $coloruno;
    font-size: 2rem;
    margin: 20px;
    padding: 20px;
    background-color: rgba(35, 66, 88, 0.792);
    text-align: justify;
    overflow: hidden;
    border-radius: 10px;
}

.h1form {
    text-align: center;
    color: $coloruno;
    font-size: 3rem;
    font-family: $fontroboto;

}
.h1form {
    @include mobile {
        display: flex;
        text-align: left;
    }
}

.mv {
    margin: 20px;
    background-color: $colorcuatro;
    text-align: center;
    color: $colornegro;
    font-family:  $fontroboto;
    font-size: 3rem;
}




